body{
    background-color: #b1e7ff;
    color: #ecf9ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    border: 3px solid #082751;
    justify-content: center;
    align-items: center;
    background-color: #00b0fc;
    padding: 30px;
    height: 600px; margin-top: 44px;

}

.heading{
    text-decoration: underline;
    margin-top: 0px;
    margin-bottom: 10px;
}
form #guessedNumber{
    border: 2px solid #082751;
    border-radius: 34px;
    margin-bottom: 10px;
    background-color: #b1e7ff;
    color: #0286df ;
    text-align: center;
    padding: 5px;
    width: 100px;
    font-size: 15px;
}

form #submitGuess{
    border: 2px solid #082751;
    border-radius: 34px;
    background-color: #b1e7ff;
    color: #0286df ;
    padding: 5px;
    width: 150px;
    font-size: 15px;
}

form {
    text-align: center ;
}

form h1{
    font-size: 50px;
}

p{
    font-size: 20px;
}

#newGame{
    color:#082751;
    text-decoration:underline ;
}

.lowOrHigh{
    color: #082751;
    font-size: 20px;
}